.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.container {
    margin-top: 10px;
}

.pull-right {
    float: right !important;
}

.delete-form {
    display: inline;
}